In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(np.random.randn(3, 4))
df.columns = ["A", "B", "C", "D"]
df.index = ["E","F","G"]

In [3]:
df

          A         B         C         D
E -0.368621  0.881184 -0.255772  0.157190
F -1.559525 -0.672558  0.322099  0.632501
G -0.387443  0.075106 -2.130225 -1.853952

In [4]:
inputData = df.sort_values(by='E', ascending=[False], axis=1) #Row 정렬

In [5]:
inputData

          B         D         C         A
E  0.881184  0.157190 -0.255772 -0.368621
F -0.672558  0.632501  0.322099 -1.559525
G  0.075106 -1.853952 -2.130225 -0.387443

In [6]:
columnData = df.sort_values(["A"], ascending=[False])

In [7]:
columnData

          A         B         C         D
E -0.368621  0.881184 -0.255772  0.157190
G -0.387443  0.075106 -2.130225 -1.853952
F -1.559525 -0.672558  0.322099  0.632501

In [8]:
df.loc["H"]=[np.nan,np.nan,np.nan,np.nan]

In [9]:
df

          A         B         C         D
E -0.368621  0.881184 -0.255772  0.157190
F -1.559525 -0.672558  0.322099  0.632501
G -0.387443  0.075106 -2.130225 -1.853952
H       NaN       NaN       NaN       NaN

In [10]:
df.dropna(how="all")

          A         B         C         D
E -0.368621  0.881184 -0.255772  0.157190
F -1.559525 -0.672558  0.322099  0.632501
G -0.387443  0.075106 -2.130225 -1.853952

In [11]:
#iloc은 loc처럼 index이름, 열 이름을 사용하는 것이 아니라 몇 번째 행인지, 몇 번째 열인지 지정을 하여 숫자로 나타내주어야 합니다. 
# 또한, 기존의 파이썬 범위 지정과 마찬가지로 마지막 숫자의 행과 열은 추출되지 않습니다.

df.loc["G"]

A   -0.387443
B    0.075106
C   -2.130225
D   -1.853952
Name: G, dtype: float64

In [13]:
df.iloc[2]

A   -0.387443
B    0.075106
C   -2.130225
D   -1.853952
Name: G, dtype: float64

In [14]:
df.loc[2]

TypeError: cannot do label indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [2] of <class 'int'>

In [15]:
df.iloc["G"]

TypeError: Cannot index by location index with a non-integer key